#zone_filtre {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#liste_filtres {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filtres {
    margin-left: 30px;
    border: 2px solid #DDD;
    border-radius: 25px;
    height: 50px;
    display: flex;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.icone_bleue {
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 50px;
    height: 105%;
    margin-left: -5px;
}

.filtres i {
    font-size: 1.2em;
    color: #0065FC;
    padding-top: 15px;
    padding-left: 15px;
}

.filtres h2 {
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 0px;
    font-size: 1em;
}

/* Animation */ 

.filtres:hover {
    cursor: pointer;
    background-color: #DEEBFF;
    color: #0065FC;
    border: 2px solid transparent;
}

#info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    font-size: 0.9em;
}

.fa-info {
    color:#0065FC;
    border: 1px solid #DDD;
    border-radius: 50%;
    display: block;
    width: 30px;
    height: 23px;
    text-align: center;
    padding-top: 7px;
    margin-right: 15px;
}

::placeholder{

    color: black;
    font-weight: bold;
}