
body{
    font-family: "Raleway", verdana, sans-serif;
    padding: 35px 35px;
    background-color: #FFF;
}

a{
    text-decoration: none;
    color: black;
}



h1 {
    font-size: 1.4em;
}

h2 {
    font-weight: bold;
    font-stretch: ultra-condensed;
    font-size: 1.3em;
    text-transform: capitalize;
}

h3 {
    font-weight: bold;
    
}


/*Header*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

/*Menu*/

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inscription {
    display: none;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 20px;
}

#inscription a {
    color:#0065FC;
    text-decoration: none;
}

.logo_reservia {
    object-fit: none;
}



nav ul li {
    list-style-type: none;
    
}

nav ul li:nth-child(3) {
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: black;
}
.element_menu:hover{
    border-top: 2px solid #0065FC;
    
   
}

nav li {
    width: 10em;
    text-align: center;
    padding-top: 2em;
}


/* menu animation */

nav ul li a:hover {
   
    color:#0065FC;
}

/* recherche ville*/

#recherche h1 {
    margin-bottom: -5px;
}

#recherche_ville {
    display: flex;
    height: 50px;
    width: 420px;
    border-radius: 15px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#bouton {
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    height: 70%;
    width: 135px;
    color: white;
    font-size: 1em;
    margin-left: 0px;
    text-align: center;
    padding-top: 15px;
}

#logo_search {
    display: none;
}

/* animation bouton */ 

#bouton:hover {
    cursor:pointer;
    background-color: #DEEBFF;
    color: black;
}

#bouton:active { 
    cursor: pointer;
    background-color: #DEEBFF;
    color: #0065FC;
    font-weight: bold;
    border: 1px solid #0065FC;
}

input {
    height: 93%;
    width: 230px;
    color: black;
    font-size: 1em;
    border: 0.5px solid #FFF;
    margin-left: 20px;
}

input:focus {
    outline: none;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    height: 70%;
    width: 52px;
    text-align: center;
    font-size: 1.3em;
    padding-top: 15px;
}

@media screen and (max-width: 480px) {
    body {
        background-color: #ddd;
    }

    h1 {
        margin-top: 0px;;
    }

    #menu {
        margin-top: 30px;
    }

    header {
       
        padding-bottom: 0px;
        margin-bottom: 20px;
    }

    nav ul {
        padding-left: 0px;
    }

    .element_menu:nth-child(2) {
        margin-left: 70px;
    }

    .element_menu:nth-child(3) {
        display: none;
    }

    #inscription {
        display: block;
    }

    nav ul li a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
        padding-bottom: 20px;
    }

    #bouton {
        display: none;
    }

    #logo_search {
        display: block;
        transform: translateX(-40px);
        background-color: #0065FC;
        border-radius: 15px;
        height: 70%;
        width: 52px;
        margin-left: 0px;
        text-align: center;
        padding-top: 15px;
        color: white;
        font-size: 1.2em;
    }

    #logo_search:hover {
        cursor:pointer;
        background-color: #DEEBFF;
        color: black;
    }

    #logo_search:active {
        cursor:pointer;
        background-color: #DEEBFF;
        color: #0065FC;
        font-weight: bold;
        border: 1px solid #0065FC;
    }
}

/*tablette*/

@media screen and (min-width: 480px) and (max-width: 1024px) {

    #filtres { 
        width: 100%;
        margin-bottom: 15px;
    }


.filtres {
    display: flex;
    align-items: center;
    margin-top: 49px;
    margin-left: 63px;
    flex-wrap: wrap;
}

#populaires{
    display: flex;
    flex-wrap: wrap;
}

#populaires h2 {
    margin-left: 27px;
}

.fa-chart-line {
    
    right: 67px;
    margin: unset;
    padding-top: 5px;
}

.populaires {
    flex-wrap: wrap;
}

#hebergements {
    width: 644px;
}



#activites {
    margin: auto;
    margin-top: 44px;
}

#activites h2 {
    text-align: center;
}

.activites { 
    justify-content: center;
}

.activites .hotel {
    padding: 20px
}


}
