#hebergements {
    background-color: #f2f2f2;
    width: 880px;
    height: auto;
    border-radius: 20px;
    padding: 41px 40px 46px 40px;
    margin-right: 40px;
}

.hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements .hotel img {
    height: 100%;
    width: 236px;
    max-height: 114px;
    border-radius: 10px 10px 0 0 ;
}

.hebergements .hotel {
    background-color: white;
    width: 246px;
    height: fit-content;
    border-radius: 10px;
    padding: 5px;
    margin-top: 23px;
    margin-bottom: 7px;
    box-shadow: 0 0 15px #ccc;
}

.hebergements .details h3 {
    margin-bottom: 3px;

}

.hebergements .details p {
    margin-bottom: 8px;
    font-size: 0.87em;
}

.hebergements .details {
    margin-left: 12px;
    margin-bottom: 6px;
}

#hebergements h2 {
    height: fit-content;
}

.hebergements h4 {
    height: fit-content;
    margin-top: 31px;
    margin-left: 4px;
}

#populaires {
    background-color: #f2f2f2;
    width: 420px;
    height: auto;
    border-radius: 20px;
    padding: 42px 40px 34px 37px;
}

.populaires {
    display: flex;
    flex-direction: column;
    
}

.populaires .hotel {
    background: white;
    width: 343px;
    height: 144px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 26px;
    box-shadow: 0 0 15px #ccc;
}

.populaires .hotel img {
    width: 127px;
    height: 134px;
    max-height: 134px;
    border-radius: 10px 0px 0px 10px;
}

.populaires .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 9px;
    margin-left: 21px;

}

.populaires .details p {
    font-size: 0.87em;
}

.populaires a {
    display: flex;
}

#populaires h2 {
    display: inline-block;
    padding-left: 1px;
}

.fa-chart-line {
    margin-left: 118px;
}

.fa-star {
    color: #f2f2f2;
}

.stars-check {
    color: #0065Fc;
}

.main {
    margin:auto;
    margin-top: 43px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
}


@media screen and (max-width:480px) {
    
    .populaires{
        flex-wrap: wrap;
    }

    #hebergements {
        width: auto;
    }

    .hebergements h4 {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {

    #populaires {
        padding-left: 20px;
        padding-right: 21px;
        background-color: #f2f2f2;
        border-radius: unset;
    }

    #populaires h2 {
        margin-left: unset;
    }

    .fa-chart-line {
        margin-left: 108px;
    }

    .populaires {
        flex-direction: column;
    }

    .populaires .hotel {
        width: 334px;
    }

    #hebergements {
        background-color: unset;
        padding-top: 36px;
        padding-left: 21px;
        padding-right: 21px;
        width: auto;
    }

    #hebergements h2 {
        text-align: unset;
    }

    .hebergements {
        flex-direction: column;
    }

    .hebergements .hotel {
        width: 335px;
    }

    .hebergements .hotel img {
        width: 325px;
    }
    
}




