@media screen and (max-width: 480px) {

    body {
        background-color: #ddd;
        max-width: 1440px;
	    width: 100%;
	    height: auto;
	    margin: auto; 
	    font-family: 'Raleway', 'sans-serif';
	    font-size: 0.9em;
        padding: unset;

    }

    h1 {
        margin-top: 0px;
    }

    h3 {
        font-weight: bold;
    }

   

    main {
        background-color: #fff;
        padding: 15px 15px;
    }

    #menu {
        margin-top: 30px;
    }

    header {
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 0px;
        margin-bottom: 20px;
       

    }


    
   
    /* modification du bouton et ajout icone recherche */

    #bouton {
        display: none;
    }

    #logo_search {
        display: block;
        background-color: #0065Fc;
        border-radius: 15px;
        height: 70%;
        width: 52px;
        margin-left: 0px;
        text-align: center;
        padding-top: 15px;
        color: white;
        font-size: 1.2em;
    }

    #logo_search:hover {
        cursor: pointer;
        background-color: #DEEBFF;
        color: black;
    }

    #logo_search:active {
        cursor: pointer;
        background-color: #DEEBFF;
        color: #0065Fc;
        font-weight: bold;
        border: 1px solid #0065Fc;
    }
    #recherche_ville{
        width: 100%;
    }

    input {
        width: 47% ;
    }
    #zone_filtre :nth-child(1) {
        margin-top: 0px;
    }

    .filtres {
        margin-left: 10px;
    }

    .filtres h2 {
        font-size: 0.9em;
    }

    #info {
        font-weight: bold;
    }

    .populaires {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #hebergements {
        width: auto;
        padding: 0px;
        background-color: white;
        height: auto;
        border-radius: 20px;
        margin: 0;
    }

    #hebergements h2 {
        flex-direction: column;
    }

    #hebergements h4 {
        width: 100%;
        text-align: center;
    }

    .hebergements {
        flex-direction: column;
    }

    .hebergements .hotel {
        width: 96%;
    }

    .hebergements .hotel img {
        width: 100%;
    }

   

    #populaires {
        width: auto;
        padding: 0px;
        height: auto;
        background-color: #f2f2f2;
        border-radius: unset;
    }

    #populaires h2 {
        margin-left: unset;
    }

    .fa-chart-line {
        margin-left: 108px;
    }

    .populaires .hotel {
        width: 100%;
    }

   

    

    .main {
        flex-direction: column-reverse;
        margin: auto;
        margin-top: 20px;
    }

    footer {
        padding-top: 20px;
        width: 100%;
        margin-left: 0px ;
    }

    #container_footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 20px;
        
    }

    .footer_menu {
        margin-bottom: 0px;
        margin-left: 20px;
        font-size: 0.8em;
        line-height: 10px;
    }

    footer ul li {
        font-size: 0.8em;
    }

}



/* Tablette */

@media screen and (max-width: 780px) {
    
    
    body {
        background-color: #ddd;
        max-width: 1440px;
	    width: 100%;
	    height: auto;
	    margin: auto; 
	    font-family: 'Raleway', 'sans-serif';
	    font-size: 0.9em;

    }

    main {
        background-color: #fff;
        padding: 15px 15px;
    }

    .main {
        flex-direction: column-reverse;
        margin: auto;
        margin-top: 20px;
    }

    header{
		display: block;
		margin-bottom: 2em;
	}

    h4 {
        width: 100%;
    }

    .activites .photo img {
        width: 100%;
        height: 110px;
    }
    
    .element_menu {
    width: 50%;
    padding-bottom: 1.5em;
    border-bottom: solid 2px #f2f2f2;
    }

    .element_menu1 {

    position: absolute ;
    top: 2.7em;
    right: 0;
    
    font-weight: bold;

    }

    .element_menu:hover{
    
    border-bottom: 2px solid #0065FC;
    
   
}

    nav ul{
    margin: 0;
    border-radius: unset;
    justify-content: flex-start;
    width: auto;

}
    nav li{
    margin: 0;
}



    #hebergements {
    width: auto;
    padding: 0px;
    background-color: white;
    height: auto;
    border-radius: 20px;
    margin: 0;
    
}

    #populaires {
    width: auto;
    height: auto;
    background-color: #f2f2f2;
    border-radius: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    

    #container_footer {
        padding: 0px;
    }
    .activites{
		display: block;
		margin: 0;
		margin-bottom: 2.5em; 
	}
}


@media screen and (max-width: 1280px) {

    .element_menu:hover {

        border-bottom: 2px solid #0065FC;
        
       
    }
    .trio {
        display: block;
    }

    .duo_activites {
        display: block;
    }
    
}